/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
body{
    background-color: #80ffd4;
}
.title-left img{
    width: 50px;
    height: 50px;
}
.title-left{
    display: flex;
    flex-basis: 60%;
    gap: 10px;
    align-items: center;
}
.title-right{
    flex-basis: 40%;
    margin-right: 30px;
}
.btn{
    padding: 2px 25px;
    cursor: pointer;
    border-radius: 5px;
}
.cell{
    height: calc(100% / 10);
    flex-basis: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#grid{
    width: 350px;
    height: 350px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}
/* UTILITIES */
.container{
    max-width: 1200px;
    margin: 0 auto;
}